<div class="container-fluid p-0" >
    <div class=" section " >
        <div class="text-section" >
            <p class="typping">
                Olá meu nome é Luiz Henrique
            </p>
            <p id="Sobre" style="color: #fff;">
                Sou estudante de programação, atualmente estou cursando o bootcamp da @SoulCode de Java Full Stack.  
            </p>
        </div>
        <div class="container-img">
            <a target="_blank" href="https://www.linkedin.com/in/luiz-henrique-9b6556199/"><img class="myImg " src="assets/img/myPicture.png"  alt="Foto"></a>
        </div>
        
    </div>
    <div class="projects container mt-3 p-5" >
        <div  class="mb-5" style="text-align: center;   font-size: 30px;">
            <p id="Projetos" style="font-family: 'Nunito', sans-serif;">Projetos</p>
        </div>
        <div class="containerCards" style="justify-content: space-around;">

          <div class="card" style="width: 18rem; background-color: rgba(0, 86, 106, 0.681); color: #fff;">
            <img src="assets/img/ProjetoDiario.PNG" class="card-img-top"  alt="ecommerce-cars">
            <div class="card-body">
              <h5 class="card-title" style="font-size: 1.2rem;">Diário viagens</h5>
              <p class="card-text">Aplicação Angular CRUD para uso e prática do Firebase com Authentication, Firestore e Storage</p>
              <div class="d-flex mt-4" style="justify-content: end;">
                  <a><img style="height: 35px; width: 35px" src="assets/img/icon-angular.png" alt="card"></a>
                  <a><img style="height: 35px; width: 35px" src="assets/img/firebase.png" alt="card"></a>
                  <a target="_blank" href="https://github.com/LuizHenriqueT1/diario-viagens" >
                      <img style="height: 35px; width: 35px" src="assets/img/icon-github.png" alt="card">
                  </a>
              </div>
            </div>
          </div>
            <div class="card" style="width: 18rem; background-color: rgba(0, 86, 106, 0.681); color: #fff;">
                <img src="assets/img/P-cars.PNG" class="card-img-top"  alt="ecommerce-cars">
                <div class="card-body">
                  <h5 class="card-title" style="font-size: 1.2rem;">Ecommerce-cars</h5>
                  <p class="card-text">Projeto desenvolvido em squad, utilizando Framework Angular</p>
                  <div class="d-flex mt-5"  style="justify-content: end">
                      <a><img style="height: 35px; width: 35px;" src="assets/img/icon-angular.png" alt="card"></a>
                      <a target="_blank" href="https://github.com/LuizHenriqueT1/ecommerce-cars">
                          <img style="height: 35px; width: 35px" src="assets/img/icon-github.png" alt="card"></a>
                  </div>
                </div>
              </div>
              <div class="card" style="width: 18rem; background-color: rgba(0, 86, 106, 0.681); color: #fff;">
                <img src="assets/img/Capturar.PNG" class="card-img-top"  alt="ecommerce-cars">
                <div class="card-body">
                  <h5 class="card-title" style="font-size: 1.2rem;">Good Pay</h5>
                  <p class="card-text">Projeto de desenvolvimento em Bootstrap de front end como requisito de prototipagem para montagem de uma POC</p>
                  <div class="d-flex " style="justify-content: flex-end;">
                      <a><img style="height: 35px; width: 35px" src="assets/img/js.png" alt="card"></a>
                      <a target="_blank" href="https://github.com/LuizHenriqueT1/GoodPay">
                          <img style="height: 35px; width: 35px" src="assets/img/icon-github.png" alt="card"></a>
                  </div>
                </div>
              </div>

              <div class="card" style="width: 18rem; background-color: rgba(0, 86, 106, 0.681); color: #fff;">
                <img src="assets/img/EmBreve.png" class="card-img-top"  alt="ecommerce-cars">
                <div class="card-body">
                  <h5 class="card-title" style="font-size: 1.2rem;">Em andamento...</h5>
                  <p class="card-text">Projeto sendo realizado em Angular, Java e MySQL</p>
                  <div class="d-flex" style="justify-content: space-between;">
                      <!-- <a><img style="height: 35px; width: 35px" src="#" alt="card"></a>
                      <a target="_blank" href="#">
                          <img style="height: 35px; width: 35px" src="#" alt="card"></a> -->
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
