<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <section class="mb-4" id="Contato">
      <p>Contatos</p>
      <a target="_blank" href="https://www.linkedin.com/in/luiz-henriquedev/"><img class="icon"
         src="assets/img/iconLinkdin.png"
          alt="Contato Linkdin"></a>

      <a target="_blank" href="https://github.com/LuizHenriqueT1"><img class="icon" 
        
          src="assets/img/icon-github.png" alt="Contato Github"></a>

    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022 Copyright:
    <a class="text-white">Luiz Henrique</a>
  </div>
</footer>